<h1 class="m-3">Stupid Coaching</h1>
<p class="m-3">Ask you coach anything:</p>
<form action="/answer" data-turbo="false" class="input-group mb-3">
  <input type="text" name="answer" class="form-control">
  <input type="submit" value="Ask!">
</form>
